extends layout

block content
  div(ng-controller='IndexController as ctrl' layout='column' style='height:100%')
    md-toolbar
      div(class='md-toolbar-tools')
        md-button(class='md-icon-button' ng-click='ctrl.toggleSidePane()' aria-label='Settings')
          md-icon(md-font-set='material-icons') menu
        span #{title}
        span(flex)
        section(id='Connection Icons')
          md-icon(md-font-set='material-icons' ng-show='ctrl.status == "boot"') signal_cellular_null
          md-icon(md-font-set='material-icons' ng-show='ctrl.status == "connected"') network_cell
          md-icon(md-font-set='material-icons' ng-show='ctrl.status == "disconnected"') signal_cellular_off
          md-icon(md-font-set='material-icons' ng-show='ctrl.status == "error"') signal_cellular_connected_no_internet_4_bar

    md-content(flex layout='row' layout-align='center center')
      md-sidenav(class='md-sidenav-left md-whiteframe-z2' md-component-id='left')
        div(layout='column')
          h1 Robot Arm Controller
          p  Written By:
          p  Matthew Higgins
          p  Steven Cantwell
          p  Michael Brisbin

      div(id='controls' flex layout='row' layout-align='space-around center' layout-wrap)
        div(id='Arrow Keys' flex layout='column')
          section(layout='row' layout-align='center center' layout-no-wrap)
            md-button(class='md-icon-button' ng-click='ctrl.moveForward()' aria-label='Move Forward')
              md-tooltip(md-direction='top') Move Forward
              md-icon(md-font-set='material-icons') arrow_upward
          section(layout='row' layout-align='center center' layout-no-wrap)
            md-button(class='md-icon-button' ng-click='ctrl.turnLeft()' aria-label='Turn Left')
              md-tooltip(md-direction='bottom') Turn Left
              md-icon(md-font-set='material-icons') arrow_back
            md-button(class='md-icon-button' ng-click='ctrl.moveBackward()' aria-label='Move Backward')
              md-tooltip(md-direction='bottom') Move Backward
              md-icon(md-font-set='material-icons') arrow_downward
            md-button(class='md-icon-button' ng-click='ctrl.turnRight()' aria-label='Turn Right')
              md-tooltip(md-direction='bottom') Turn Right
              md-icon(md-font-set='material-icons') arrow_forward

        div(id='Control Keys' flex layout='row' layout-align='center center')
          section(layout='column' layout-align='center center' layout-no-wrap)
            md-button(class='md-icon-button md-dbl-icon-button' ng-click='ctrl.openClaw()' aria-label='Open Claw')
              md-tooltip(md-direction='top') Open Claw
              md-icon(md-font-set='material-icons') chevron_left
              md-icon(md-font-set='material-icons') chevron_right
            md-button(class='md-icon-button md-dbl-icon-button' ng-click='ctrl.closeClaw()' aria-label='Close Claw')
              md-tooltip(md-direction='bottom') Close Claw
              md-icon(md-font-set='material-icons') chevron_right
              md-icon(md-font-set='material-icons') chevron_left
          section(layout='column' layout-align='center center' layout-no-wrap)
            md-button(class='md-icon-button' ng-click='ctrl.raiseArm()' aria-label='Raise Arm')
              md-tooltip(md-direction='top') Raise Arm
              md-icon(md-font-set='material-icons') trending_up
            md-button(class='md-icon-button' ng-click='ctrl.lowerArm()' aria-label='Lower Arm')
              md-tooltip(md-direction='bottom') Lower Arm
              md-icon(md-font-set='material-icons') trending_down